---
export interface Props {
  title: string;
  publishDate: string;
  heroImage: string;
  alt: string;
  tags: string[];
}

const { title, publishDate, heroImage, alt, tags } = Astro.props;
---

<article>
  <header>
    {
      heroImage && (
        <img
          width="720"
          height="420"
          class="hero-image"
          loading="lazy"
          src={heroImage}
          alt={alt}
        />
      )
    }

    <p class="mb-1 font-mono text-gray-400 sm:mb-2">
      {
        new Date(publishDate).toLocaleDateString('en-US', {
          month: 'long',
          day: 'numeric',
          year: 'numeric',
        })
      }
    </p>

    <h2 class="h1 mb-2 text-yellow-400">{title}</h2>

    {
      tags ? (
        <div class="blog-tags my-4 md:my-6">
          {tags.map(
            (tag: string) =>
            <a class="blog-tag" rel="prefetch" href={`/writing/tags/${tag}`}>{tag}</a>, // prettier-ignore
          )}
        </div>
      ) : null
    }

    <span class="hr"></span>
  </header>

  <section class="prose mb-12">
    <slot />
  </section>
</article>
